<div class="container">
  <h1>Editing Open Positions List</h1>
  
  <%= render 'form', open_positions_list: @open_positions_list %>
  
  <%= link_to 'Show', @open_positions_list %> |
  <%= link_to 'Back', open_positions_lists_path %>
  <br><br><br>
</div>