<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div >
      <h1>New Topic</h1><br>
    </div>
    

      <div>
        <div class="row">
          <%= render 'form', open_positions_list: @open_positions_list %> 
        </div>
      </div>

  </div>
  <div >
    
    <br>
    <br>
    <br>
  </div>
</div>




