/* NAVIGATION 
=====================================*/
.top-nav-font {
    color: #fff;
}

/* BUTTONS 
=====================================*/
.btn-success {
    background-color: #8cbf26;
}
.btn-success:hover {
    background-color: #60792D;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: none;
    background: none !IMPORTANT;
    cursor: pointer;
    border: none;
}


/* TABLES / SORTABLE TABLES
=====================================*/
.sortable thead {
    text-align: left;
    background-color: #8cbf26 !IMPORTANT;
    color:#FFF;
    font-weight: bold;
    cursor: pointer;
}


/* LAYOUT 
=====================================*/
.container {
    max-width: 95% !IMPORTANT;
}
.top-space-70 {
    margin-top: 70px;
}
.top-space-50 {
    margin-top: 50px;
}
.top-space-30 {
    margin-top: 30px;
}


.bs-docs-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px !IMPORTANT;
  color: #99979c;
  text-align: left;
  background-color: #2a2730;
}

/* PADDING 
=====================================*/
.padding-top-70 { 
    padding-top: 70px; 
}

.padding-bottom-70 { 
    margin-bottom: 70px; 
}

body {
    padding-top: 70px;
}