
  <nav class="navbar navbar-fixed-top navbar-light" style="background-color: #8cbf26;" role="navigation">
    <div class="container">
      <div class="row">
      <div>
        <a class="navbar-brand col-md-2" style="color: #fff;" href="#">openPOSITONS</a>
      </div>
      <div class="nav navbar-nav col-md-9 col-md-push-8">
        <a class="nav-item nav-link" href="#"><%= link_to 'OPL', open_positions_lists_path, {style: "color: #fff"} %></a>
        <a class="nav-item nav-link" href="#"><%= link_to "ShortList", root_path, {style: "color: #fff"} %></a>
        <a class="nav-item nav-link" href="#"><%= link_to 'About', static_pages_about_path, {style: "color: #fff"} %></a>
      </div>
      </div>
    </div>
  </nav>



