
  <nav class="navbar navbar-fixed-top navbar-light" style="background-color: #8cbf26;" role="navigation">
    <div class="container-opl">
      <div class="row">
      <div>
        <a class="navbar-brand" style="color: #fff;" href="#">openTOPICS</a>
      </div>
      <br>
      <div class="nav navbar-nav pull-right">
        <a class="nav-item nav-link" href="#"><%= link_to 'Liste', open_positions_lists_path, {style: "color: #fff"} %></a>
        <a class="nav-item nav-link" href="#"><%= link_to " | ShortList", root_path, {style: "color: #fff"} %></a>
        <a class="nav-item nav-link" href="#"><%= link_to ' | About', static_pages_about_path, {style: "color: #fff"} %></a>
      </div>
      </div>
    </div>
  </nav>



